Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

Trigger separately
  .buildkite/pipeline.yml
  .github/workflows/CI.yml
Due: none

Apply suggestions from code review
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

update test
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

update
  src/layers/basic.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

update
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

format
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

update test
  src/layers/basic.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

add ReverseSequence
  src/Lux.jl
  src/layers/basic.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

add test guide doc
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

add ReverseSequence document
  docs/src/api/Lux/layers.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

format
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

add ReverseSequence docs
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

update ReverseSequence doc
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

format doc
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

update
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Update src/layers/basic.jl
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Update Project.toml
  lib/LuxLib/Project.toml
Due: none

CompatHelper: bump compat for JET to 0.9, (keep existing compat)
  lib/LuxTestUtils/Project.toml
Due: none

Update Project.toml
  lib/LuxTestUtils/Project.toml
Due: none

Mark unexported symbols as public
  .gitignore
  Project.toml
  src/Lux.jl
  src/contrib/contrib.jl
  src/distributed/public_api.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Run doctests in the test CI
  .github/workflows/CI.yml
  .github/workflows/CompatHelper.yml
  Project.toml
  docs/Project.toml
  docs/make.jl
  src/transform/flux.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Relax test groups for faster CI
  .buildkite/testing.yml
Due: none

Try removing Flux, MPI, NCCL from testdeps
  Project.toml
  test/qa_tests.jl
  test/runtests.jl
  test/transform/flux_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Run doctests only on Linux
  .buildkite/testing.yml
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Lazy install and load accelerator packages
  Project.toml
  test/runtests.jl
  test/setup_modes.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

[skip docs] Run downstream only if label
  .buildkite/testing.yml
  .github/workflows/CI.yml
  Project.toml
  ext/LuxMPIExt.jl
  src/layers/extension.jl
  test/distributed/common_distributedtest.jl
  test/distributed/data_distributedtest.jl
  test/distributed/optimizer_distributedtest.jl
  test/distributed/synchronize_distributedtest.jl
  test/qa_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Install packages before loading
  Project.toml
  test/runtests.jl
  test/setup_modes.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Remove uses of LuxAMDGPU.jl
  Project.toml
  README.md
  docs/Project.toml
  docs/make.jl
  docs/run_single_tutorial.jl
  docs/src/.vitepress/config.mts
  docs/src/api/Accelerator_Support/LuxAMDGPU.md
  docs/src/introduction/index.md
  docs/src/manual/gpu_management.md
  examples/Basics/Project.toml
  examples/Basics/main.jl
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  examples/GravitationalWaveForm/Project.toml
  examples/GravitationalWaveForm/main.jl
  examples/HyperNet/Project.toml
  examples/HyperNet/main.jl
  examples/ImageNet/Project.toml
  examples/ImageNet/main.jl
  examples/ImageNet/utils.jl
  examples/NeuralODE/Project.toml
  examples/NeuralODE/main.jl
  examples/PolynomialFitting/Project.toml
  examples/PolynomialFitting/main.jl
  examples/SimpleRNN/Project.toml
  examples/SimpleRNN/main.jl
  ext/LuxLuxAMDGPUExt.jl
  ext/LuxMPIExt.jl
  test/distributed/common_distributedtest.jl
  test/distributed/data_distributedtest.jl
  test/distributed/optimizer_distributedtest.jl
  test/distributed/synchronize_distributedtest.jl
  test/qa_tests.jl
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Install all together
  .buildkite/testing.yml
  Project.toml
  test/distributed/common_distributedtest.jl
  test/distributed/data_distributedtest.jl
  test/distributed/optimizer_distributedtest.jl
  test/distributed/synchronize_distributedtest.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Run tests based on negated groups
  .buildkite/testing.yml
  ext/LuxAMDGPUExt.jl
  test/qa_tests.jl
  test/runtests.jl
  test/setup_modes.jl
  test/transform/flux_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

do everything in lowercase
  test/distributed/common_distributedtest.jl
  test/distributed/data_distributedtest.jl
  test/distributed/optimizer_distributedtest.jl
  test/distributed/synchronize_distributedtest.jl
  test/helpers/batched_ad_tests.jl
  test/helpers/nestedad_tests.jl
  test/layers/recurrent_tests.jl
  test/layers/type_stability_tests.jl
  test/qa_tests.jl
  test/runtests.jl
  test/setup_modes.jl
  test/shared_testsetup.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

try no parallelism for AMDGPU tests
  .buildkite/testing.yml
  .github/workflows/CI.yml
  README.md
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Extend the trianing API
  docs/src/api/Lux/contrib.md
  examples/NeuralODE/main.jl
  ext/LuxOptimisersExt.jl
  src/contrib/contrib.jl
  src/contrib/training.jl
  test/contrib/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Update docs to use single_train_step
  examples/ConvMixer/main.jl
  examples/DDIM/main.jl
  examples/HyperNet/main.jl
  examples/NeuralODE/main.jl
  examples/PolynomialFitting/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
  src/contrib/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Try fix stalling for AMDGPU
  .buildkite/testing.yml
  Project.toml
  README.md
  docs/src/api/Lux/autodiff.md
  docs/src/introduction/index.md
  docs/src/introduction/overview.md
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Does loading LuxAMDGPU fix it?
  .buildkite/testing.yml
  Project.toml
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Try fixing AMDGPU version
  .github/workflows/CI.yml
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
