Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: build.branch != "main" && build.tag == null
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            # Core Lux Testing
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"

            # LuxCUDA Testing
            - path:
                - "lib/LuxCUDA/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml"
                agents:
                  queue: "juliagpu"

            # WeightInitializers Testing
            - path:
                - "lib/WeightInitializers/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml"
                agents:
                  queue: "juliagpu"

            # Benchmarks
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
                - "benchmarks/"
              if: build.pull_request.labels includes "run benchmarks"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmarks.yml"
                agents:
                  queue: "juliagpu"

            # Documentation
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmarks.yml

      # Subpackage testing
      buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
      buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml

docs: add list of packages
  .buildkite/testing_weightinitializers.yml
  README.md
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: run on 1.10 and 1
  .github/workflows/CI.yml
  .github/workflows/CI_LuxLib.yml
Due: none

ci: benchmark ci needs to run
  .github/workflows/Benchmark.yml
Due: none

ci: fix mldatadevices group
  .buildkite/testing_mldatadevices.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Remove extra newline in gpu_management.md
  docs/src/manual/gpu_management.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Move code blocks inside bullet list
  docs/src/manual/gpu_management.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix links to CI
  README.md
Due: none

docs: move code blocks inside bullet list (#996)
  docs/src/manual/gpu_management.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: avoid tracing through Lux models
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: none

ci: run lux tests
  .buildkite/pipeline.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

fix: avoid tracing through Lux models (#1021)
  .buildkite/pipeline.yml
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: rename XLADevice/xla_device to ReactantDevice/reactant_device
  Project.toml
  docs/src/api/Accelerator_Support/MLDataDevices.md
  docs/src/index.md
  docs/src/manual/compiling_lux_models.md
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/conv.jl
  lib/MLDataDevices/README.md
  lib/MLDataDevices/ext/MLDataDevicesMLUtilsExt.jl
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/xla_tests.jl
  src/helpers/training.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add == dispatch for XLADevice
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/public.jl
Due: none

feat: support passing in device and client to XLA
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/public.jl
Due: none

refactor: restrict Reactant to 0.2.4
  Project.toml
  docs/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

feat: support passing in device and client to XLA (#1020)
  Project.toml
  docs/Project.toml
  docs/src/api/Accelerator_Support/MLDataDevices.md
  docs/src/index.md
  docs/src/manual/compiling_lux_models.md
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/conv.jl
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/README.md
  lib/MLDataDevices/ext/MLDataDevicesMLUtilsExt.jl
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/xla_tests.jl
  src/helpers/training.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: remove certain workflows
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_WeightInitializers.yml
Due: none

ci: don't run reactant tests in parallel
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: disable some LuxLib enzyme tests
  .JuliaFormatter.toml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: none

ci: minor tweaks
  Project.toml
  docs/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/runtests.jl
  lib/LuxTestUtils/Project.toml
  test/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: reduce test groups
  .github/workflows/CI_LuxLib.yml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/LuxLib/test/others/misc_tests.jl
  lib/LuxLib/test/others/qa_tests.jl
Due: none

test: reduce lux groups
  .JuliaFormatter.toml
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxLib.yml
  Project.toml
  test/contrib/debug_tests.jl
  test/contrib/freeze_tests.jl
  test/contrib/map_tests.jl
  test/contrib/share_parameters_tests.jl
  test/enzyme_tests.jl
  test/helpers/compact_tests.jl
  test/helpers/loss_tests.jl
  test/helpers/size_propagator_test.jl
  test/helpers/size_propagator_tests.jl
  test/helpers/stateful_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
  test/qa_tests.jl
  test/runtests.jl
  test/transform/flux_tests.jl
  test/transform/simple_chains_tests.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: try fixing more tests
  .buildkite/testing.yml
  docs/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: run 1.11 tests
  .github/workflows/CI.yml
  .github/workflows/CI_LuxLib.yml
  lib/LuxTestUtils/src/LuxTestUtils.jl
Due: none

fix: update to latest Reactant changes
  .buildkite/testing.yml
  docs/src/manual/compiling_lux_models.md
  lib/LuxCore/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: skip some Enzyme tests
  .buildkite/testing.yml
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Format .jl files
  lib/MLDataDevices/test/xla_tests.jl
Due: none

CompatHelper: bump compat for MLDataDevices to 1, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for LuxLib to 1, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Functors to 0.5, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Functors to 0.5 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Functors to 0.5 for package test, (keep existing compat)
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Functors to 0.5 for package BayesianNN, (keep existing compat)
  examples/BayesianNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Functors in [weakdeps] to 0.5 for package LuxCore, (keep existing compat)
  lib/LuxCore/Project.toml
Due: none

CompatHelper: bump compat for MLDataDevices to 1 for package LuxLib, (keep existing compat)
  lib/LuxLib/Project.toml
Due: none

CompatHelper: bump compat for Functors to 0.5 for package LuxTestUtils, (keep existing compat)
  lib/LuxTestUtils/Project.toml
Due: none

CompatHelper: bump compat for Functors to 0.5 for package MLDataDevices, (keep existing compat)
  lib/MLDataDevices/Project.toml
Due: none

chore: run formatter
  lib/MLDataDevices/test/xla_tests.jl
Due: none

fix(MLDataDevices): remove stale import
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
Due: none
