Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering pipelines"
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"

Consolidate the Backend parameter caching
  ext/LuxEnzymeExt.jl
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt.jl
  src/contrib/training.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Zero the gradients
  ext/LuxEnzymeExt.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt.jl
  src/contrib/training.jl
  test/misc_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Type assert for safety
  ext/LuxReverseDiffExt/training.jl
  src/helpers/recursive_ops.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Finish implementation of compiled reversediff
  Project.toml
  docs/src/api/Lux/utilities.md
  ext/LuxEnzymeExt.jl
  ext/LuxReverseDiffExt/training.jl
  src/Lux.jl
  src/contrib/training.jl
  src/helpers/recursive_ops.jl
  test/contrib/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Make names concrete type
  src/helpers/compact.jl
  src/layers/containers.jl
  src/layers/extension.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Add example of using Lux inside GPU kernels
  docs/Project.toml
  docs/src/.vitepress/config.mts
  docs/src/manual/debugging.md
  docs/src/manual/nn_inside_gpu_kernels.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Benchmark Results from Build #2817
  122bd837-572d-4bb6-83e7-d06ea9c10ad1.bson.gz
Due: none

Benchmark Results from Build #2828
  252ba207-532e-4342-8c40-14941e979196.bson.gz
Due: none

CompatHelper: add new compat entry for StaticArrays at version 1 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for KernelAbstractions at version 0.9 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update gitignore
  .gitignore
Due: none

MIOpen doesn't handle Float64
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibAMDGPUExt.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

[skip tests] [skip docs] Relax ADTypes for benchmarks
  .github/workflows/Benchmark.yml
  .github/workflows/CI.yml
  bench/Project.toml
  bench/runbenchmarks.jl
Due: none

[skip tests] [skip docs] Migrate to Buildkite for benchmarks
  bench/.JuliaFormatter.toml
  bench/Project.toml
  bench/helpers.jl
  bench/runbenchmarks.jl
Due: none

[skip tests] [skip docs] Try caching the parameter file
  .buildkite/benchmark.yml
  .buildkite/pipeline.yml
  .github/workflows/Benchmark.yml
  bench/params.json
  bench/prettify.jl
  bench/runbenchmarks.jl
  benchmark/.JuliaFormatter.toml
  benchmark/Project.toml
  benchmark/README.md
  benchmark/generate_html_report.jl
  benchmark/git.jl
  benchmark/helpers.jl
  benchmark/layers.jl
  benchmark/runbenchmarks.jl
  benchmark/vgg.jl
Due: none

[skip tests] [skip docs] Try reusing the cached tuning
  .buildkite/benchmark.yml
  benchmark/runbenchmarks.jl
Due: none

[skip tests] [skip docs] More benchmarks
  .buildkite/benchmark.yml
  benchmark/Project.toml
  benchmark/bench_layers/bench_conv.jl
  benchmark/bench_layers/bench_dense.jl
  benchmark/bench_models/bench_vgg.jl
  benchmark/runbenchmarks.jl
  benchmark/utils.jl
Due: none

[skip tests] [skip docs] Benchmark using PkgJogger
  .buildkite/benchmark.yml
  .github/workflows/CompatHelper.yml
  .gitignore
  benchmark/Project.toml
  benchmark/README.md
  benchmark/bench_layers/bench_dense.jl
  benchmark/generate_html_report.jl
  benchmark/git.jl
  benchmark/helpers.jl
  benchmark/layers.jl
  benchmark/runbenchmarks.jl
  benchmark/utils.jl
  benchmark/vgg.jl
Due: none

[skip tests] [skip docs] Add GPU benchmarking
  bench/.JuliaFormatter.toml
  bench/Project.toml
  bench/helpers.jl
  bench/layers.jl
  bench/params.json
  bench/prettify.jl
  bench/runbenchmarks.jl
  bench/vgg.jl
Due: none

CompatHelper: bump compat for DynamicExpressions to 0.18 for package SymbolicOptimalControl, (keep existing compat)
  examples/SymbolicOptimalControl/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for DynamicExpressions in [weakdeps] to 0.18, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Store the optimizer
  docs/make.jl
  ext/LuxEnzymeExt.jl
  ext/LuxOptimisersExt.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt.jl
  src/contrib/training.jl
  src/deprecated.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Remove default show. Not round-trippable
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
Due: none

Make show non-trippable
  Project.toml
  src/contrib/freeze.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
  src/layers/basic.jl
  src/layers/containers.jl
  src/layers/display.jl
  src/layers/dropout.jl
  src/layers/extension.jl
  src/layers/normalize.jl
  src/layers/recurrent.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Fix more cases
  src/contrib/freeze.jl
  src/contrib/map.jl
  src/helpers/compact.jl
  src/layers/basic.jl
  src/layers/containers.jl
  src/layers/display.jl
  src/layers/extension.jl
  src/transform/simplechains.jl
  test/helpers/compact_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Use unrolled utilities for type stable recusions
  Project.toml
  src/Lux.jl
  src/helpers/recursive_ops.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Add enzyme support for lossfunctions.jl
  src/Lux.jl
  src/chainrules.jl
  src/contrib/contrib.jl
  src/contrib/training.jl
  src/enzymerules.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
  src/layers/normalize.jl
  src/utils.jl
  test/contrib/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Update tests
  ext/LuxEnzymeExt.jl
  test/contrib/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Fallback to split mode if function type constantly changes
  ext/LuxEnzymeExt.jl
  src/contrib/training.jl
  test/contrib/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Add enzyme tests
  test/helpers/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

missing roundtrip tests
  Project.toml
  src/Lux.jl
  src/helpers/stateful.jl
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/extension.jl
  test/contrib/freeze_tests.jl
  test/runtests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Remove PrecompileTools
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
Due: none

Remove PrecompileTools
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/LuxDeviceUtils.jl
Due: none

Apply suggestions from code review
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

Run formatter
  lib/WeightInitializers/.JuliaFormatter.toml
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/WeightInitializersCUDAExt.jl
  lib/WeightInitializers/src/WeightInitializers.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/src/utils.jl
  lib/WeightInitializers/test/runtests.jl
Due: none

Update Project.toml
  lib/MLDataDevices/Project.toml
Due: none

Minor cleanups
  lib/WeightInitializers/.github/workflows/CI.yml
  lib/WeightInitializers/.github/workflows/Downgrade.yml
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/README.md
  lib/WeightInitializers/ext/WeightInitializersCUDAExt.jl
  lib/WeightInitializers/src/WeightInitializers.jl
  lib/WeightInitializers/src/autodiff.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/src/utils.jl
Due: none

Generalize the code
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/WeightInitializersCUDAExt.jl
  lib/WeightInitializers/src/WeightInitializers.jl
  lib/WeightInitializers/src/initializers.jl
Due: none

Finish rewriting the tests
  lib/WeightInitializers/.buildkite/pipeline.yml
  lib/WeightInitializers/.github/workflows/CI.yml
  lib/WeightInitializers/.github/workflows/Downgrade.yml
  lib/WeightInitializers/.github/workflows/Downstream.yml
  lib/WeightInitializers/.github/workflows/FormatCheck.yml
  lib/WeightInitializers/.github/workflows/QualityCheck.yml
  lib/WeightInitializers/.typos.toml
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/README.md
  lib/WeightInitializers/ext/WeightInitializersCUDAExt.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/test/initializers_tests.jl
  lib/WeightInitializers/test/qa_tests.jl
  lib/WeightInitializers/test/runtests.jl
  lib/WeightInitializers/test/shared_testsetup.jl
  lib/WeightInitializers/test/utils_tests.jl
Due: none

Mark cartersian index tests on cuda broken for now
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml
